# Create AK, AS and CK on https://www.ovh.com/auth/api/createToken
export OVH_ENDPOINT="ovh-eu"
export OVH_APPLICATION_KEY="AK"
export OVH_APPLICATION_SECRET="AS"
export OVH_CONSUMER_KEY="CK"
export OVH_CLOUD_PROJECT_SERVICE="PROJECT_ID"

# Bucket credentials
export AWS_ACCESS_KEY_ID="BUCKET_AK"
export AWS_SECRET_ACCESS_KEY="BUCKET_SK"