.terraform*
terraform.tfstate*
.env
logs
artifacts
tenants.*
ssh-main-gateway.conf
apps/**/resources.txt
rs-server/**/resources.txt
roles/image/files/output/
__pycache__
generated_inventory_vars.yaml
.vscode
**/kubespray-venv
inventory/mycluster
roles/terraform/create-cluster/tasks/rs-infra-core.tar.gz
apps/**/*.pem
apps/**/*.csr
apps/**/*.srl
rs-infra-core.tar.gz
collections/kubespray**
apps/04-wazuh-server/idp-metadata.xml
apps/04-wazuh-server/sp-metadata.xml