export AWS_ACCESS_KEY_ID="access_key"
export AWS_SECRET_ACCESS_KEY="secret_key"

TF_VAR_FE_username="user"
TF_VAR_FE_password="pass"
TF_VAR_FE_region="region"
TF_VAR_FE_access_key="access_key"
TF_VAR_FE_secret_key="secret_key"
TF_VAR_FE_domain="domain_name"
